.button:hover {
    -fx-cursor: hand;
}

#acceptButton {
    -fx-text-fill: white;
    -fx-background-color: green;
}

#acceptButton:hover {
    -fx-text-fill: white;
    -fx-background-color: darkgreen;
}

#denyButton {
    -fx-text-fill: white;
    -fx-background-color: red;
}

#denyButton:hover {
    -fx-text-fill: white;
    -fx-background-color: darkred;
}